.heading-center { 
  font-family: 'Covered By Your Grace', cursive;
  text-align: center;
  margin-top: 0.5em;
  font-size:  2.5em;
  color: $primary-green;
} 
.btn {
  display: inline;
}

b {
  color: $primary-green;
}

ul {
  list-style-type: none;
}

#async-buttons {
  text-align: center;
}

#input {
  width: 80%;  
  height: 3rem;
  margin: 0 auto;
  display: block;
}

.sortScore {
  display: none;
}

.sortResult {
  font-size: 1.1em;
  line-height: 2em;
}
#results {
  margin-top: 2px;
}


.vimlnum  {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right: 1rem;
  color: darken(gray,20%);
}

#databind:empty:before {
  content: '\a0';
}

#databind {
  color: darken(gray, 20%);
  font-size: 2em;
  text-align: center;
  margin-left: 1em;
}

hr {

  margin-top: 8em;
  background-color: $primary-green;
  height: 2px; 

}

.all-copy {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  -webkit-user-select: all; 
  -moz-user-select: all;   
  -ms-user-select: all;   
  user-select: all;      
}
