[data-tooltip-score], [data-tooltip-lnum], [data-tooltip-pdfpath] {
  position: relative;
  cursor: help;
  padding: 5px 12px;
  text-align: center;
  &:hover {
    color:white;
  }
  &::after {
    position: absolute;
    top: 1px;
    right: 0%;
    opacity: 0;
    transition: all ease 1.3s;
    content: attr(data-tooltip-score);
    background: rgba(lighten($light-gray, 40%),1);
    width: 120px;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    color: $primary-green;
  }
  &:hover::after {
    opacity:1;
  }
}

[data-tooltip-lnum] {
  &::after {
    left: 1%;
    width: 55px;
    font-size: 1em;
    content: attr(data-tooltip-lnum);
  }
}

[data-tooltip-pdfpath] {
  &:hover {
    background-color: lighten($light-gray, 40%);
    color: $primary-green;
  }

  &::after {
    left: 105%;
    width: 120px;
    font-size: 1em;
    content: attr(data-tooltip-pdfpath);
  }

}
