[data-tooltip-score], [data-tooltip-lnum] {
  position: relative;
  cursor: help;
  padding: 5px 12px;
  text-align: center;
  &:hover {
    background: rgba($primary-green,0.2);
    border-radius: 4px;
  }
  &::after {
    position: absolute;
    top: 1px;
    right: 0%;
    opacity: 0;
    transition: all ease 1.3s;
    content: attr(data-tooltip-score);
    background: rgba(lighten($primary-green, 10%),1);
    width: 120px;
    border-radius: 4px;
    padding-left: 2px;
    color: #eee;
  }
  &:hover::after {
    opacity:1;
  }
}

[data-tooltip-lnum] {
  &::after {
    left: 1%;
    width: 55px;
    font-size: 1em;
    content: attr(data-tooltip-lnum);
  }
}
